<!DOCTYPE html>
<html ng-app="demo">
  <head>
    <meta charset="utf-8">
    <title>Demo 4</title>
    <link rel="stylesheet" href="stylesheets/reset.css" type="text/css" media="screen">
    <link rel="stylesheet" href="stylesheets/demo.css" type="text/css" media="screen">
  </head>
  <body ng-controller="demoCtrl">
    <article>
      <ul>
        <li ng-repeat="task in tasks">{{task.text}}</li>
        <li>
          <form ng-submit="createTask();">
            <input type="text" ng-model="newTask" />
          </form>
        </li>
      </ul>
    </article>
    <script src="bower_components/angular/angular.js" type="text/javascript"></script>
    <script src="javascripts/demo4.js" type="text/javascript"></script>
  </body>
</html>

